/* Colors class */
.c1 {
  color: #188e90;
}
.bg-c1 {
  background-color: #188e90;
}
.c1b6 {
  color: #f5f9f9;
}
.c1b5 {
  color: #e2eeee;
}
.c1b4 {
  color: #c1e5e6;
}
.c1b3 {
  color: #9ad9da;
}
.c1b2 {
  color: #43c8cb;
}
.c1b1 {
  color: #2aafb1;
}
.c1n6 {
  color: #093839;
}
.c1n5 {
  color: #0c4546;
}
.c1n4 {
  color: #0e5253;
}
.c1n3 {
  color: #105f60;
}
.c1n2 {
  color: #126c6d;
}
.c1n1 {
  color: #14787a;
}
.c2b6 {
  color: #f8eee0;
}
.c2b5 {
  color: #f0daba;
}
.c2b4 {
  color: #eac897;
}
.c2b3 {
  color: #e6b773;
}
.c2b2 {
  color: #e4ac5b;
}
.c2b1 {
  color: #df9c3d;
}
.c2n6 {
  color: #442d0b;
}
.c2n5 {
  color: #5a3b0f;
}
.c2n4 {
  color: #704a13;
}
.c2n3 {
  color: #865816;
}
.c2n2 {
  color: #9c661a;
}
.c2n1 {
  color: #b1751e;
}
.blanco {
  color: #ffffff;
}
.bg-blanco {
  background-color: #ffffff;
}
.negro {
  color: #000000;
}
.bg-negro {
  background-color: #000000;
}
.gris {
  color: #808080;
}
.bg-gris {
  background-color: #808080;
}
/* Background Colors class */
.c2 {
  color: #db9127;
}
.bg-c2 {
  background-color: #db9127;
}
.bg-c1b6 {
  background-color: #f5f9f9;
}
.bg-c1b5 {
  background-color: #e2eeee;
}
.bg-c1b4 {
  background-color: #c1e5e6;
}
.bg-c1b3 {
  background-color: #9ad9da;
}
.bg-c1b2 {
  background-color: #43c8cb;
}
.bg-c1b1 {
  background-color: #2aafb1;
}
.bg-c1n6 {
  background-color: #093839;
}
.bg-c1n5 {
  background-color: #0c4546;
}
.bg-c1n4 {
  background-color: #0e5253;
}
.bg-c1n3 {
  background-color: #105f60;
}
.bg-c1n2 {
  background-color: #126c6d;
}
.bg-c1n1 {
  background-color: #14787a;
}
.bg-c2b6 {
  background-color: #f8eee0;
}
.bg-c2b5 {
  background-color: #f0daba;
}
.bg-c2b4 {
  background-color: #eac897;
}
.bg-c2b3 {
  background-color: #e6b773;
}
.bg-c2b2 {
  background-color: #e4ac5b;
}
.bg-c2b1 {
  background-color: #df9c3d;
}
.bg-c2n6 {
  background-color: #442d0b;
}
.bg-c2n5 {
  background-color: #5a3b0f;
}
.bg-c2n4 {
  background-color: #704a13;
}
.bg-c2n3 {
  background-color: #865816;
}
.bg-c2n2 {
  background-color: #9c661a;
}
.bg-c2n1 {
  background-color: #b1751e;
}
/* Sombras */
.Sh24 {
  -webkit-box-shadow: 1px 0.1em 2px -6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 0.1em 2px -6px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 0.1em 2px -6px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 1px 0.1em 2px -6px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 1px 0.1em 2px -6px rgba(0, 0, 0, 0.5);
}
.Sh23 {
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
}
.Sh22 {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.Sh21 {
  -webkit-box-shadow: 1px 1px 10px 0px #808080;
  -moz-box-shadow: 1px 1px 10px 0px #808080;
  box-shadow: 1px 1px 10px 0px #808080;
  -o-box-shadow: 1px 1px 10px 0px #808080;
  -ms-box-shadow: 1px 1px 10px 0px #808080;
}
.Sh20 {
  -webkit-box-shadow: inset 2px 2px 70px 0px #eabe7e;
  -moz-box-shadow: inset 2px 2px 70px 0px #eabe7e;
  box-shadow: inset 2px 2px 70px 0px #eabe7e;
  -o-box-shadow: inset 2px 2px 70px 0px #eabe7e;
  -ms-box-shadow: inset 2px 2px 70px 0px #eabe7e;
}
.Sh19 {
  -webkit-box-shadow: 0px -2px 6px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px -2px 6px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px -2px 6px 0px rgba(0, 0, 0, 0.35);
  -o-box-shadow: 0px -2px 6px 0px rgba(0, 0, 0, 0.35);
  -ms-box-shadow: 0px -2px 6px 0px rgba(0, 0, 0, 0.35);
}
.Sh18 {
  -webkit-box-shadow: 2px 5px 9px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 5px 9px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 5px 9px 0px rgba(0, 0, 0, 0.75);
  -o-box-shadow: 2px 5px 9px 0px rgba(0, 0, 0, 0.75);
  -ms-box-shadow: 2px 5px 9px 0px rgba(0, 0, 0, 0.75);
}
.Sh17 {
  -webkit-box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.24);
  box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.24);
  -o-box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.24);
  -ms-box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.24);
}
.Sh16 {
  -webkit-box-shadow: inset 0px 0px 35px 0px rgba(125, 161, 179, 0.2);
  -moz-box-shadow: inset 0px 0px 35px 0px rgba(125, 161, 179, 0.2);
  box-shadow: inset 0px 0px 35px 0px rgba(125, 161, 179, 0.2);
  -o-box-shadow: inset 0px 0px 35px 0px rgba(125, 161, 179, 0.2);
  -ms-box-shadow: inset 0px 0px 35px 0px rgba(125, 161, 179, 0.2);
}
.Sh15 {
  -webkit-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.24);
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.24);
  -o-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.24);
  -ms-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.24);
}
.Sh14 {
  -webkit-box-shadow: inset 0px 0px 6.5px 1px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0px 0px 6.5px 1px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0px 0px 6.5px 1px rgba(0, 0, 0, 0.6);
  -o-box-shadow: inset 0px 0px 6.5px 1px rgba(0, 0, 0, 0.6);
  -ms-box-shadow: inset 0px 0px 6.5px 1px rgba(0, 0, 0, 0.6);
}
.Sh13 {
  -webkit-box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.2);
  -o-box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.2);
}
.Sh12 {
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
}
.Sh11 {
  -webkit-box-shadow: inset 2px 2px 30px 0px #5a5a5a;
  -moz-box-shadow: inset 2px 2px 30px 0px #5a5a5a;
  box-shadow: inset 2px 2px 30px 0px #5a5a5a;
  -o-box-shadow: inset 2px 2px 30px 0px #5a5a5a;
  -ms-box-shadow: inset 2px 2px 30px 0px #5a5a5a;
}
.Sh10 {
  -webkit-box-shadow: 1px 1px 3px 0px #000000;
  -moz-box-shadow: 1px 1px 3px 0px #000000;
  box-shadow: 1px 1px 3px 0px #000000;
  -o-box-shadow: 1px 1px 3px 0px #000000;
  -ms-box-shadow: 1px 1px 3px 0px #000000;
}
.Sh9 {
  -webkit-box-shadow: -1px -1px 3px 0px #666666;
  -moz-box-shadow: -1px -1px 3px 0px #666666;
  box-shadow: -1px -1px 3px 0px #666666;
  -o-box-shadow: -1px -1px 3px 0px #666666;
  -ms-box-shadow: -1px -1px 3px 0px #666666;
}
.Sh8 {
  -webkit-box-shadow: 1px 1px 3px 0px #666666;
  -moz-box-shadow: 1px 1px 3px 0px #666666;
  box-shadow: 1px 1px 3px 0px #666666;
  -o-box-shadow: 1px 1px 3px 0px #666666;
  -ms-box-shadow: 1px 1px 3px 0px #666666;
}
.Sh7 {
  -webkit-box-shadow: inset 1px 1px 3px #5a5a5a;
  -moz-box-shadow: inset 1px 1px 3px #5a5a5a;
  box-shadow: inset 1px 1px 3px #5a5a5a;
  -o-box-shadow: inset 1px 1px 3px #5a5a5a;
  -ms-box-shadow: inset 1px 1px 3px #5a5a5a;
}
.Sh6 {
  -webkit-box-shadow: inset 2px 2px 30px 0px #c8dcd8;
  -moz-box-shadow: inset 2px 2px 30px 0px #c8dcd8;
  box-shadow: inset 2px 2px 30px 0px #c8dcd8;
  -o-box-shadow: inset 2px 2px 30px 0px #c8dcd8;
  -ms-box-shadow: inset 2px 2px 30px 0px #c8dcd8;
}
.Sh5 {
  -webkit-box-shadow: 0px 0px 3px 1px #808080;
  -moz-box-shadow: 0px 0px 3px 1px #808080;
  box-shadow: 0px 0px 3px 1px #808080;
  -o-box-shadow: 0px 0px 3px 1px #808080;
  -ms-box-shadow: 0px 0px 3px 1px #808080;
}
.Sh4 {
  -webkit-box-shadow: 0px 0px 1px 0px #89b5ab;
  -moz-box-shadow: 0px 0px 1px 0px #89b5ab;
  box-shadow: 0px 0px 1px 0px #89b5ab;
  -o-box-shadow: 0px 0px 1px 0px #89b5ab;
  -ms-box-shadow: 0px 0px 1px 0px #89b5ab;
}
.Sh3 {
  -webkit-box-shadow: inset 2px 2px 30px 0px #b8d3cd;
  -moz-box-shadow: inset 2px 2px 30px 0px #b8d3cd;
  box-shadow: inset 2px 2px 30px 0px #b8d3cd;
  -o-box-shadow: inset 2px 2px 30px 0px #b8d3cd;
  -ms-box-shadow: inset 2px 2px 30px 0px #b8d3cd;
}
.Sh2 {
  -webkit-box-shadow: 0px 0px 6px 0px #000000;
  -moz-box-shadow: 0px 0px 6px 0px #000000;
  box-shadow: 0px 0px 6px 0px #000000;
  -o-box-shadow: 0px 0px 6px 0px #000000;
  -ms-box-shadow: 0px 0px 6px 0px #000000;
}
.Sh1 {
  -webkit-box-shadow: 0px 0px 6px 0px #e7f0ee;
  -moz-box-shadow: 0px 0px 6px 0px #e7f0ee;
  box-shadow: 0px 0px 6px 0px #e7f0ee;
  -o-box-shadow: 0px 0px 6px 0px #e7f0ee;
  -ms-box-shadow: 0px 0px 6px 0px #e7f0ee;
}
/*HEADERS FONTS*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
}
/*SELECTION*/
body ::selection {
  color: #188e90;
  background: #e2eeee;
}
body ::-moz-selection {
  color: #188e90;
  background: #e2eeee;
}
/*FORMS*/
form,
fieldset {
  padding: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
}
input,
select,
textarea,
button {
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  height: 2em;
  border: solid 0.1em;
  margin: 0.5em;
  font-family: 'Lato', sans-serif;
}
input[type="submit"],
button {
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  font-weight: bold;
}
input {
  padding: 0 1em 0 1em;
}
input::select {
  border: none;
}
input:focus,
input:active {
  border-style: none;
}
textarea {
  min-width: 15em;
  min-height: 3em;
}
label {
  font-family: 'Lato', sans-serif;
  font-size: 0.95em;
}
fieldset {
  margin-bottom: 1em;
  border: dashed 1px;
}
input:focus,
select:focus,
textarea:focus {
  font-weight: bold;
  outline: none;
}
input:invalid {
  text-decoration: line-through;
}
form ul li {
  list-style: none;
}
legend {
  font-family: 'Lato', sans-serif;
  margin-left: 2em;
  font-weight: bold;
}
legend:before {
  content: "[ ";
}
legend:after {
  content: " ]";
}
input.dest {
  font-weight: bold;
}
:-moz-placeholder {
  color: #808080;
  font-size: 0.8em;
  font-style: italic;
  font-weight: normal;
  padding-left: 1em;
}
:-ms-input-placeholder {
  color: #808080;
  font-size: 0.8em;
  font-style: italic;
  font-weight: normal;
  padding-left: 1em;
}
::-webkit-input-placeholder {
  color: #808080;
  font-size: 0.8em;
  font-style: italic;
  font-weight: normal;
  padding-left: 1em;
}
/*FORMS - COLORS */
form.c1,
fieldset.c1,
form.c2 *.inv {
  /*
 @cbname: prefijo de color
 * */
  background-color: #f5f9f9;
  /*input.dest:focus{
    font-weight: normal;
}*/
}
form.c1 *,
fieldset.c1 *,
form.c2 *.inv * {
  color: #14787a;
}
form.c1 input,
fieldset.c1 input,
form.c2 *.inv input,
form.c1 select,
fieldset.c1 select,
form.c2 *.inv select,
form.c1 textarea,
fieldset.c1 textarea,
form.c2 *.inv textarea {
  background-color: #e2eeee;
  border-color: #43c8cb;
  -webkit-box-shadow: 0px 0px 1px 0px #89b5ab;
  -moz-box-shadow: 0px 0px 1px 0px #89b5ab;
  box-shadow: 0px 0px 1px 0px #89b5ab;
  -o-box-shadow: 0px 0px 1px 0px #89b5ab;
  -ms-box-shadow: 0px 0px 1px 0px #89b5ab;
}
form.c1 input:hover,
fieldset.c1 input:hover,
form.c2 *.inv input:hover {
  background-color: #e2eeee;
  -webkit-box-shadow: 0px 0px 0.35em 0px #14787a;
  -moz-box-shadow: 0px 0px 0.35em 0px #14787a;
  box-shadow: 0px 0px 0.35em 0px #14787a;
  -o-box-shadow: 0px 0px 0.35em 0px #14787a;
  -ms-box-shadow: 0px 0px 0.35em 0px #14787a;
  color: #14787a;
}
form.c1 input:focus,
fieldset.c1 input:focus,
form.c2 *.inv input:focus,
form.c1 select:focus,
fieldset.c1 select:focus,
form.c2 *.inv select:focus,
form.c1 textarea:focus,
fieldset.c1 textarea:focus,
form.c2 *.inv textarea:focus {
  color: #126c6d;
  background-color: #e2eeee;
  border: 0.1em solid #14787a;
  -webkit-box-shadow: 0px 0px 0.4em 0px #14787a;
  -moz-box-shadow: 0px 0px 0.4em 0px #14787a;
  box-shadow: 0px 0px 0.4em 0px #14787a;
  -o-box-shadow: 0px 0px 0.4em 0px #14787a;
  -ms-box-shadow: 0px 0px 0.4em 0px #14787a;
}
form.c1 input[type="submit"],
fieldset.c1 input[type="submit"],
form.c2 *.inv input[type="submit"],
form.c1 button,
fieldset.c1 button,
form.c2 *.inv button {
  color: #e2eeee;
  background-color: #188e90;
  vertical-align: middle;
  height: 2.5em;
  line-height: 1em;
  padding: 0.3em 2em 0.3em 2em;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  border: #168183 1px solid;
  background: #188e90;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #188e90), color-stop(1, #1fb9bc));
  background: -ms-linear-gradient(bottom, #188e90, #1fb9bc);
  background: -moz-linear-gradient(center bottom, #188e90 0%, #1fb9bc 100%);
  background: -o-linear-gradient(#1fb9bc, #188e90);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1fb9bc', endColorstr='#188e90', GradientType=0);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
form.c1 input[type="submit"]:hover,
fieldset.c1 input[type="submit"]:hover,
form.c2 *.inv input[type="submit"]:hover,
form.c1 button:hover,
fieldset.c1 button:hover,
form.c2 *.inv button:hover {
  color: #f2f7f7;
  background-color: #14787a;
  background: #14787a;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #14787a), color-stop(1, #1ca4a6));
  background: -ms-linear-gradient(bottom, #14787a, #1ca4a6);
  background: -moz-linear-gradient(center bottom, #14787a 0%, #1ca4a6 100%);
  background: -o-linear-gradient(#1ca4a6, #14787a);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1ca4a6', endColorstr='#14787a', GradientType=0);
}
form.c1 fieldset,
fieldset.c1 fieldset,
form.c2 *.inv fieldset {
  border-color: #9ad9da;
}
form.c1 fieldset.dest,
fieldset.c1 fieldset.dest,
form.c2 *.inv fieldset.dest {
  background-color: #f5f9f9;
}
form.c1 input:-moz-placeholder,
fieldset.c1 input:-moz-placeholder,
form.c2 *.inv input:-moz-placeholder {
  color: #508a8b;
  font-size: 0.8em;
  font-style: italic;
  font-weight: normal;
  padding-left: 1em;
}
form.c1 input:-ms-input-placeholder,
fieldset.c1 input:-ms-input-placeholder,
form.c2 *.inv input:-ms-input-placeholder {
  color: #508a8b;
  font-size: 0.8em;
  font-style: italic;
  font-weight: normal;
  padding-left: 1em;
}
form.c1 input::-webkit-input-placeholder,
fieldset.c1 input::-webkit-input-placeholder,
form.c2 *.inv input::-webkit-input-placeholder {
  color: #508a8b;
  font-size: 0.8em;
  font-style: italic;
  font-weight: normal;
  padding-left: 1em;
}
form.c1 ::selection,
fieldset.c1 ::selection,
form.c2 *.inv ::selection {
  color: #188e90;
  background: #e2eeee;
}
form.c1 ::-moz-selection,
fieldset.c1 ::-moz-selection,
form.c2 *.inv ::-moz-selection {
  color: #188e90;
  background: #e2eeee;
}
form.c2,
fieldset.c2,
form.c1 *.inv {
  /*
 @cbname: prefijo de color
 * */
  background-color: #f8eee0;
  /*input.dest:focus{
    font-weight: normal;
}*/
}
form.c2 *,
fieldset.c2 *,
form.c1 *.inv * {
  color: #b1751e;
}
form.c2 input,
fieldset.c2 input,
form.c1 *.inv input,
form.c2 select,
fieldset.c2 select,
form.c1 *.inv select,
form.c2 textarea,
fieldset.c2 textarea,
form.c1 *.inv textarea {
  background-color: #f0daba;
  border-color: #e4ac5b;
  -webkit-box-shadow: 0px 0px 1px 0px #89b5ab;
  -moz-box-shadow: 0px 0px 1px 0px #89b5ab;
  box-shadow: 0px 0px 1px 0px #89b5ab;
  -o-box-shadow: 0px 0px 1px 0px #89b5ab;
  -ms-box-shadow: 0px 0px 1px 0px #89b5ab;
}
form.c2 input:hover,
fieldset.c2 input:hover,
form.c1 *.inv input:hover {
  background-color: #f0daba;
  -webkit-box-shadow: 0px 0px 0.35em 0px #b1751e;
  -moz-box-shadow: 0px 0px 0.35em 0px #b1751e;
  box-shadow: 0px 0px 0.35em 0px #b1751e;
  -o-box-shadow: 0px 0px 0.35em 0px #b1751e;
  -ms-box-shadow: 0px 0px 0.35em 0px #b1751e;
  color: #b1751e;
}
form.c2 input:focus,
fieldset.c2 input:focus,
form.c1 *.inv input:focus,
form.c2 select:focus,
fieldset.c2 select:focus,
form.c1 *.inv select:focus,
form.c2 textarea:focus,
fieldset.c2 textarea:focus,
form.c1 *.inv textarea:focus {
  color: #9c661a;
  background-color: #f0daba;
  border: 0.1em solid #b1751e;
  -webkit-box-shadow: 0px 0px 0.4em 0px #b1751e;
  -moz-box-shadow: 0px 0px 0.4em 0px #b1751e;
  box-shadow: 0px 0px 0.4em 0px #b1751e;
  -o-box-shadow: 0px 0px 0.4em 0px #b1751e;
  -ms-box-shadow: 0px 0px 0.4em 0px #b1751e;
}
form.c2 input[type="submit"],
fieldset.c2 input[type="submit"],
form.c1 *.inv input[type="submit"],
form.c2 button,
fieldset.c2 button,
form.c1 *.inv button {
  color: #f0daba;
  background-color: #db9127;
  vertical-align: middle;
  height: 2.5em;
  line-height: 1em;
  padding: 0.3em 2em 0.3em 2em;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  border: #d08923 1px solid;
  background: #db9127;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #db9127), color-stop(1, #e2a753));
  background: -ms-linear-gradient(bottom, #db9127, #e2a753);
  background: -moz-linear-gradient(center bottom, #db9127 0%, #e2a753 100%);
  background: -o-linear-gradient(#e2a753, #db9127);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e2a753', endColorstr='#db9127', GradientType=0);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
form.c2 input[type="submit"]:hover,
fieldset.c2 input[type="submit"]:hover,
form.c1 *.inv input[type="submit"]:hover,
form.c2 button:hover,
fieldset.c2 button:hover,
form.c1 *.inv button:hover {
  color: #f5e5cf;
  background-color: #c78321;
  background: #c78321;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #c78321), color-stop(1, #df9c3d));
  background: -ms-linear-gradient(bottom, #c78321, #df9c3d);
  background: -moz-linear-gradient(center bottom, #c78321 0%, #df9c3d 100%);
  background: -o-linear-gradient(#df9c3d, #c78321);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#df9c3d', endColorstr='#c78321', GradientType=0);
}
form.c2 fieldset,
fieldset.c2 fieldset,
form.c1 *.inv fieldset {
  border-color: #e6b773;
}
form.c2 fieldset.dest,
fieldset.c2 fieldset.dest,
form.c1 *.inv fieldset.dest {
  background-color: #f8eee0;
}
form.c2 input:-moz-placeholder,
fieldset.c2 input:-moz-placeholder,
form.c1 *.inv input:-moz-placeholder {
  color: #b79565;
  font-size: 0.8em;
  font-style: italic;
  font-weight: normal;
  padding-left: 1em;
}
form.c2 input:-ms-input-placeholder,
fieldset.c2 input:-ms-input-placeholder,
form.c1 *.inv input:-ms-input-placeholder {
  color: #b79565;
  font-size: 0.8em;
  font-style: italic;
  font-weight: normal;
  padding-left: 1em;
}
form.c2 input::-webkit-input-placeholder,
fieldset.c2 input::-webkit-input-placeholder,
form.c1 *.inv input::-webkit-input-placeholder {
  color: #b79565;
  font-size: 0.8em;
  font-style: italic;
  font-weight: normal;
  padding-left: 1em;
}
form.c2 ::selection,
fieldset.c2 ::selection,
form.c1 *.inv ::selection {
  color: #db9127;
  background: #f0daba;
}
form.c2 ::-moz-selection,
fieldset.c2 ::-moz-selection,
form.c1 *.inv ::-moz-selection {
  color: #db9127;
  background: #f0daba;
}
/* Classes*/
.dest {
  font-size: 1.1em;
  color: #188e90;
}
.chico {
  font-size: 0.9em;
}
.round {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.cajauno {
  background: #f5f9f9;
  padding: 0px 2em 3em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
}
.acentro {
  text-align: center;
}
.ader {
  text-align: right;
}
.aizq {
  text-align: left;
}
.logo-circ-cont {
  text-align: center;
  margin: 0px auto;
  max-width: 10em;
}
.logo-circ-cont img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #ffffff;
  height: auto;
  padding: 2px;
  border: 4px solid;
  -webkit-box-shadow: inset 2px 2px 70px 0px #eabe7e , 1px 1px 10px 0px #808080;
  -moz-box-shadow: inset 2px 2px 70px 0px #eabe7e , 1px 1px 10px 0px #808080;
  box-shadow: inset 2px 2px 70px 0px #eabe7e , 1px 1px 10px 0px #808080;
  -o-box-shadow: inset 2px 2px 70px 0px #eabe7e , 1px 1px 10px 0px #808080;
  -ms-box-shadow: inset 2px 2px 70px 0px #eabe7e , 1px 1px 10px 0px #808080;
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  -o-transform: rotate(-8deg);
  transform: rotate(-8deg);
}
#logo-cont,
.logo-circ-cont {
  z-index: 1000;
}
/*IDs*/
#logo-splash {
  margin-top: -50%;
  width: 100%;
  max-width: 10em;
}
#bienvenida {
  margin-left: auto;
  margin-right: auto;
  margin-top: 6em;
  padding-top: 0px;
  border: 5px solid #2aafb1;
  -webkit-box-shadow: 1px 1px 10px 0px #808080;
  -moz-box-shadow: 1px 1px 10px 0px #808080;
  box-shadow: 1px 1px 10px 0px #808080;
  -o-box-shadow: 1px 1px 10px 0px #808080;
  -ms-box-shadow: 1px 1px 10px 0px #808080;
}
#bienvenida-page {
  width: 100%;
  max-width: 640px;
  margin: 0px auto;
}
/* ==========================================================================
 HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
 ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222;
}
body {
  font-size: 1em;
  line-height: 1.4;
}
::-moz-selection {
  background: #808080;
  text-shadow: none;
}
::selection {
  background: #808080;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #db9127;
  margin: 1em 0;
  padding: 0;
}
img {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
a,
a:visited {
  color: #2aafb1;
}
a:hover {
  color: #db9127;
}
/* ===== Initializr Styles ==================================================
 Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
 ========================================================================== */
body {
  font: 16px/26px Helvetica, Helvetica Neue, Arial;
  color: #093839;
}
.wrapper {
  width: 90%;
  margin: 0 5%;
}
/* ===================
 Theme
 =================== */
h6 {
  color: #188e90;
}
h5 {
  color: #188e90;
}
h4 {
  color: #188e90;
}
h3 {
  color: #188e90;
}
h2 {
  color: #188e90;
}
h1 {
  color: #188e90;
}
.header-container {
  border-bottom: 10px solid #188e90;
}
.footer-container,
.main aside {
  border-top: 10px solid #188e90;
}
.header-container,
.footer-container,
.main aside {
  background: #e4ac5b;
}
.title {
  color: #188e90;
}
aside {
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
}
/* ==============
 MOBILE: Menu
 ============== */
nav ul {
  margin: 0;
  padding: 0;
}
nav a,
nav a:visited {
  display: block;
  margin-bottom: 10px;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: #188e90;
  background: #e4ac5b;
}
nav a:hover {
  color: #2aafb1;
  background: #e7b771;
}
/* ==============
 MOBILE: Main
 ============== */
.main {
  padding: 30px 0;
}
.main article h1 {
  font-size: 2em;
}
.main aside {
  color: #f0daba;
  padding: 0px 5% 10px;
}
.footer-container footer {
  color: #f0daba;
  padding: 20px 0;
}
/* ===============
 ALL: IE Fixes
 =============== */
.ie7 .title {
  padding-top: 20px;
}
/* ==========================================================================
 Author's custom styles
 ========================================================================== */
/* ==========================================================================
 Media Queries
 ========================================================================== */
@media only screen and (min-width: 480px) {
  /* ====================
     INTERMEDIATE: Menu
     ==================== */
  nav a {
    float: left;
    width: 27%;
    margin: 0 1.7%;
    padding: 25px 2%;
    margin-bottom: 0;
  }
  nav li:first-child a {
    margin-left: 0;
  }
  nav li:last-child a {
    margin-right: 0;
  }
  /* ========================
     INTERMEDIATE: IE Fixes
     ======================== */
  nav ul li {
    display: inline;
  }
  .oldie nav a {
    margin: 0 0.7%;
  }
}
@media only screen and (min-width: 768px) {
  /* ====================
     WIDE: CSS3 Effects
     ==================== */
  .header-container,
  .main aside,
  .footer-container {
    -webkit-box-shadow: 0px 0px 6px 0px #000000;
    -moz-box-shadow: 0px 0px 6px 0px #000000;
    box-shadow: 0px 0px 6px 0px #000000;
    -o-box-shadow: 0px 0px 6px 0px #000000;
    -ms-box-shadow: 0px 0px 6px 0px #000000;
  }
  /* ============
     WIDE: Menu
     ============ */
  .title {
    float: left;
  }
  nav {
    float: right;
    width: 38%;
  }
  /* ============
     WIDE: Main
     ============ */
  .main article {
    float: left;
    width: 57%;
  }
  .main aside {
    float: right;
    width: 28%;
  }
}
@media only screen and (min-width: 1140px) {
  /* ===============
     Maximal Width
     =============== */
  .wrapper {
    width: 1026px;
    /* 1140px - 10% for margins */
    margin: 0 auto;
  }
}
/* ==========================================================================
 Helper classes
 ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
/* ==========================================================================
 Print styles
 ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links for images, or javascript/internal links
     */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/*! normalize.css v1.1.0 | MIT License | git.io/normalize */
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}html,button,input,select,textarea{font-family:sans-serif}body{margin:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}h2{font-size:1.5em;margin:.83em 0}h3{font-size:1.17em;margin:1em 0}h4{font-size:1em;margin:1.33em 0}h5{font-size:.83em;margin:1.67em 0}h6{font-size:.67em;margin:2.33em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}blockquote{margin:1em 40px}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}p,pre{margin:1em 0}code,kbd,pre,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}dl,menu,ol,ul{margin:1em 0}dd{margin:0 0 0 40px}menu,ol,ul{padding:0 0 0 40px}nav ul,nav ol{list-style:none;list-style-image:none}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal;*margin-left:-7px}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible}button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}