# CONFIG_ALL_NONSHARED is not set
# CONFIG_ALL_KMODS is not set
# CONFIG_ALL is not set
CONFIG_PACKAGE_dnsmasq=n
CONFIG_PACKAGE_dnsmasq-dhcpv6=m
CONFIG_PACKAGE_ALFRED_BATHOSTS=y
CONFIG_PACKAGE_lime-full=m
CONFIG_PACKAGE_lime-app=m
CONFIG_PACKAGE_lime-basic=m
CONFIG_PACKAGE_lime-basic-no-ui=m
CONFIG_PACKAGE_lime-basic-uing=m
CONFIG_PACKAGE_lime-freifunk=m
CONFIG_PACKAGE_lime-full=m
CONFIG_PACKAGE_lime-ap-watchping=m
CONFIG_PACKAGE_lime-debug=m
CONFIG_PACKAGE_lime-hwd-ground-routing=m
CONFIG_PACKAGE_lime-hwd-openwrt-wan=m
CONFIG_PACKAGE_lime-hwd-usbradio=m
CONFIG_PACKAGE_lime-map-agent=m
CONFIG_PACKAGE_lime-proto-anygw=m
CONFIG_PACKAGE_lime-proto-babeld=m
CONFIG_PACKAGE_lime-proto-batadv=m
CONFIG_PACKAGE_lime-proto-bgp=m
CONFIG_PACKAGE_lime-proto-bmx6=m
CONFIG_PACKAGE_lime-proto-bmx7=m
CONFIG_PACKAGE_lime-proto-eigennet=m
CONFIG_PACKAGE_lime-proto-olsr2=m
CONFIG_PACKAGE_lime-proto-qmp=m
CONFIG_PACKAGE_lime-proto-wan=m
CONFIG_PACKAGE_lime-system=m
CONFIG_PACKAGE_lime-webui=m
CONFIG_PACKAGE_bmx7-auto-gw-mode=m
CONFIG_PACKAGE_bmx7-auto-gw-bw-mode=m
CONFIG_PACKAGE_bmx7-mdns=m
CONFIG_LIMEWEBUI_ES=y
CONFIG_PACKAGE_lime-app=m
CONFIG_PACKAGE_luci-app-bmx7=m
CONFIG_PACKAGE_luci-app-lime-location=m
CONFIG_PACKAGE_luci-lib-libremap=m
CONFIG_PACKAGE_luci-lib-libremap-babel=m
CONFIG_PACKAGE_luci-lib-libremap-bmx6=m
CONFIG_PACKAGE_luci-lib-libremap-contact=m
CONFIG_PACKAGE_luci-lib-libremap-freifunk=m
CONFIG_PACKAGE_luci-lib-libremap-location=m
CONFIG_PACKAGE_luci-lib-libremap-olsr=m
CONFIG_PACKAGE_luci-lib-libremap-qmp=m
CONFIG_PACKAGE_luci-lib-libremap-system=m
CONFIG_PACKAGE_luci-lib-libremap-wireless=m
CONFIG_LUCI_SRCDIET=y
CONFIG_PACKAGE_libremap-agent=m

