# CONFIG_ALL_NONSHARED is not set
# CONFIG_ALL_KMODS is not set
# CONFIG_ALL is not set
# CONFIG_SIGNED_PACKAGES is not set
CONFIG_PACKAGE_dnsmasq=n
CONFIG_PACKAGE_dnsmasq-dhcpv6=m
CONFIG_PACKAGE_ALFRED_BATHOSTS=y
CONFIG_PACKAGE_fft-eval=m
CONFIG_PACKAGE_altermap-agent=m
CONFIG_PACKAGE_auto-usb-wwan=m
CONFIG_PACKAGE_batman-adv-auto-gw-mode=m
CONFIG_PACKAGE_bmx6-auto-gw-mode=m
CONFIG_PACKAGE_check-date-http=m
CONFIG_PACKAGE_cotonete=m
CONFIG_PACKAGE_dnsmasq-distributed-hosts=m
CONFIG_PACKAGE_dnsmasq-lease-share=m
CONFIG_PACKAGE_first-boot-wizard=m
CONFIG_PACKAGE_hotplug-initd-services=m
CONFIG_PACKAGE_lime-app=m
CONFIG_PACKAGE_lime-ap-watchping=m
CONFIG_PACKAGE_lime-basic=m
CONFIG_PACKAGE_lime-basic-no-ui=m
CONFIG_PACKAGE_lime-basic-uing=m
CONFIG_PACKAGE_lime-freifunk=m
CONFIG_PACKAGE_lime-debug=m
CONFIG_PACKAGE_lime-docs=m
CONFIG_PACKAGE_lime-docs-it=m
CONFIG_PACKAGE_lime-docs-minimal=m
CONFIG_PACKAGE_lime-hwd-ground-routing=m
CONFIG_PACKAGE_lime-hwd-openwrt-wan=m
CONFIG_PACKAGE_lime-hwd-usbradio=m
CONFIG_PACKAGE_lime-map-agent=m
CONFIG_PACKAGE_lime-proto-anygw=m
CONFIG_PACKAGE_lime-proto-babeld=m
CONFIG_PACKAGE_lime-proto-batadv=m
CONFIG_PACKAGE_lime-proto-bgp=m
CONFIG_PACKAGE_lime-proto-bmx6=m
CONFIG_PACKAGE_lime-proto-bmx7=m
CONFIG_PACKAGE_lime-proto-eigennet=m
CONFIG_PACKAGE_lime-proto-olsr=m
CONFIG_PACKAGE_lime-proto-olsr6=m
CONFIG_PACKAGE_lime-proto-olsr2=m
CONFIG_PACKAGE_lime-proto-qmp=m
CONFIG_PACKAGE_lime-proto-wan=m
CONFIG_PACKAGE_lime-smart-wifi=m
CONFIG_PACKAGE_lime-system=m
CONFIG_PACKAGE_lime-webui=m
CONFIG_PACKAGE_lua-argparse=m
CONFIG_PACKAGE_luci-app-batman-adv=m
CONFIG_PACKAGE_luci-app-openairview=m
CONFIG_PACKAGE_luci-lib-jquery-flot-0-8=m
CONFIG_PACKAGE_luci-lib-libremap=m
CONFIG_PACKAGE_luci-lib-libremap-altermap=m
CONFIG_PACKAGE_luci-lib-libremap-babeld=m
CONFIG_PACKAGE_luci-lib-libremap-bmx6=m
CONFIG_PACKAGE_luci-lib-libremap-contact=m
CONFIG_PACKAGE_luci-lib-libremap-freifunk=m
CONFIG_PACKAGE_luci-lib-libremap-location=m
CONFIG_PACKAGE_luci-lib-libremap-olsr=m
CONFIG_PACKAGE_luci-lib-libremap-qmp=m
CONFIG_PACKAGE_luci-lib-libremap-system=m
CONFIG_PACKAGE_luci-lib-libremap-wireless=m
CONFIG_PACKAGE_luci-mod-status=m
CONFIG_PACKAGE_pirania-app=m
CONFIG_PACKAGE_safe-reboot=m
CONFIG_PACKAGE_safe-upgrade=m
CONFIG_PACKAGE_shared-state=m
CONFIG_PACKAGE_shared-state-babeld_hosts=m
CONFIG_PACKAGE_shared-state-bat_hosts=m
CONFIG_PACKAGE_shared-state-dnsmasq_hosts=m
CONFIG_PACKAGE_shared-state-dnsmasq_leases=m
CONFIG_PACKAGE_shared-state-nodes_and_links=m
CONFIG_PACKAGE_shared-state-persist=m
CONFIG_PACKAGE_shared-state-pirania=m
CONFIG_PACKAGE_smonit=m
CONFIG_PACKAGE_soporteremoto=m
CONFIG_PACKAGE_sprunge=m
CONFIG_PACKAGE_tinc=m
CONFIG_PACKAGE_ubus-lime-batman-adv=m
CONFIG_PACKAGE_ubus-lime-bmx6=m
CONFIG_PACKAGE_ubus-lime-fbw=m
CONFIG_PACKAGE_ubus-lime-grondrouting=m
CONFIG_PACKAGE_ubus-lime-location=m
CONFIG_PACKAGE_ubus-lime-metrics=m
CONFIG_PACKAGE_ubus-lime-openairview=m
CONFIG_PACKAGE_ubus-lime-utils=m
CONFIG_PACKAGE_vale=m
CONFIG_PACKAGE_watchping=m
CONFIG_PACKAGE_bmx7-auto-gw-mode=m
CONFIG_PACKAGE_bmx7-auto-gw-bw-mode=m
CONFIG_PACKAGE_bmx7-mdns=m
CONFIG_LIMEWEBUI_ES=y
CONFIG_PACKAGE_luci-app-bmx7=m
CONFIG_PACKAGE_luci-app-lime-location=m
CONFIG_LUCI_SRCDIET=y
CONFIG_PACKAGE_pirania=m
