name: tests

on:
  push:
    branches: [ '**' ]
  pull_request:
    branches: [ '**' ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  unittests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: run tests
        run: ./run_tests
